<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            width: 50%;
            margin: 0 auto;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
<h2
class="text-center">Student Information</h2>
<form method="post"
class="container"
>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</body>
</html>


<!-- 
<h2>Student Information</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form> -->
